
*,
*::before,
*::after {
    margin:0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    font-family: sans-serif;
}

body {
    box-sizing: border-box;
    color:#fff;
}

#root {
    background-color: #61dbfb;
    min-height:100vh;
    overflow: hidden;
}

.app-container {
    background-color: #393f49;
    border-radius: .5rem;
    max-width: 65%;
    margin: 10rem auto;
    padding: 6rem;
}

/*
-----------------------------
-----------HEADER------------
-----------------------------
*/

.header__date {
    font-size: 2.2rem;
}

.header__activities {
    font-size: 1.5rem;
    color:#5dcbe9;
}

/*
-----------------------------
----------FORM---------------
-----------------------------
*/

.from-container {
    margin-top: 3.5rem;
}

.form-add {
    display: flex;
}

.form-add__input {
    flex-basis:50%;
    font-size: 1.8rem;
    color:#555;
    padding:1rem;
    border-radius: .3rem;
    outline:none;
    border: 2px solid #fff;
}

.form-add__input::placeholder{
    color:#a7aaaf;
}

.form-add__input:focus {
    border: 2px solid #5dcbe9;
}
.form-add__button {
    border:none;
    outline: none;
    border-radius: .3rem;
    background-color: #61dbfb;
    font-size: 1.8rem;
    padding: 1.2rem 2rem;
    color:#fff;
    margin-left: 1.5rem;
    cursor: pointer;
}

.form-add__button:hover{
    background-color: #49bbd9;
}

.form-add__button:active {
    background-color: #3da4bf;
}

/*
-----------------------------
-----------LIST--------------
-----------------------------
*/

.list{
    margin-top: 3.5rem;
    border-top: 2px solid #63686f;
}

.list__item {
    display: flex;
    align-items: center;
    padding:2rem 0;
    border-bottom: 2px solid #63686f;
    position: relative;
}

.list__item-title {
    flex:1;
    display: flex;
    align-items: center;
    margin-right: 2.5rem;
    font-size: 2rem;
}

.list__input-checkbox{
    display: none;
}

.list__item-text {
    display: inline-block;
    margin-left: 2.5rem;
    margin-right: 1rem;
    flex:1;
}

/*
-----------------------------
--------EDIT FIELD-----------
-----------------------------
*/

.edit-field {
    font-family: inherit;
    align-self: center;
    font-size: inherit;
    resize: none;
    border:none;
    outline: none;
    padding:1rem;   
    border-radius: 3px;
    border: 2px solid #fff;

}

.edit-field:focus {
    border: 2px solid #5dcbe9;
}

.edit-field__toolbar {
    display: flex;
    flex-direction: column;
}

.edit-container {
    display: flex;
    flex-direction: column;
    flex:1;
}

.edit-container__inner {
    display: flex;
    flex:1;
}

/*
-----------------------------
---------BUTTONS-------------
-----------------------------
*/

.btn {
    color:#63686f;
    font-size: 2.5rem;
    cursor: pointer;
    background-color: transparent;
    border: none;
    outline: none;
}

.btn-delete:hover {
    color:#ec2626;
}

.btn-checked:hover {
    color: #28d250;
}

.btn-edit {
    font-size: 2.3rem;
    margin-right: 3rem;
}

.btn-edit:hover {
    color: #dcdcdd;
}

.btn-confirm, .btn-cancel {
    font-size: 2.7rem;
}

.btn-confirm {
    margin-bottom: 1.5rem;
    color: #28d250;
}

.btn-cancel {
    color:#ec2626;
}

/*
-----------------------------
---------ERROR-------------
-----------------------------
*/

.error-message {
    color:#ec2626;
    font-size: 1.3rem;
}

.error-message-1{
    margin-bottom: 3.5rem;
    margin-top: 1rem;
}

.error-message-2{
    position: absolute;
    bottom: 1.3rem;
    left: 5rem;
}

/*
-----------------------------
---------HELPERS-------------
-----------------------------
*/

.checked {
    color: #28d250;
}

.line-through {
    text-decoration: line-through;
    color: #63686f;
}

.unvisible {
    display: none;
}


@media only screen and (max-width: 1200px) {
    .app-container {
        max-width: 85%;
        margin: 5rem auto;
    }
}

@media only screen and (max-width: 1000px) {
    .app-container {
        max-width: 100%;
        margin: 0rem auto;
        border-radius: 0;
        min-height: 100vh;
    }
}

@media only screen and (max-width: 800px) {
    html{
        font-size: 50%;
    }

    .app-container {
        padding-left: 4rem;
        padding-right: 4rem;
    }

    .form-add__input {
        flex:1;   
    }
}

@media only screen and (max-width: 600px) {
    .app-container {
        padding-top: 4rem;
    }
    .list__item-title {
        font-size: 1.8rem;
    }

    .btn {
        font-size: 2rem;
    }
}

@media only screen and (max-width: 400px) {
    html {
        font-size: 45%;
    }

}